<p>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</p>

<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div>
  <a [routerLink]="['/auth/login']">Login</a>
  <a [routerLink]="['/about-us']">About us</a>
  <a routerLink="/auth/login" [queryParams]="{'name': 'Lijo', 'email': 'smaple'}">Login With Query</a>
  <a [routerLink]="['/public/all-books']">All Books</a>
  <a [routerLink]="['/user/1/add-books']">add-books</a>
  <a [routerLink]="['/user/1/delete-books']">delete-books</a>
</div>

<router-outlet></router-outlet>
