<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
  </header>
</div>

<div>
  <a [routerLink]="['/auth/login']">Login</a>
  <a [routerLink]="['/about-us']">About us</a>
  <a routerLink="/auth/login" [queryParams]="{'name': 'Lijo', 'email': 'smaple'}">Login With Query</a>
  <a [routerLink]="['/public/all-books']">All Books</a>
  <a [routerLink]="['/user/1/add-books']">add-books</a>
  <a [routerLink]="['/user/1/delete-books']">delete-books</a>
</div>

<router-outlet></router-outlet>
